*{
    margin: 0;
}

.container{
    position: relative;
    text-align: left;
}

header h2{
    color: white;
    font-size: 65px;
    font-family: cursive;
    text-shadow: 3px 3px #000000a0 ;
    background-color: dodgerblue;
    height: 2.7em;
    background-image: url("../img/pattern.png");
    background-size: 650px;
    padding-left: 10px;
}

#the-positioning{
    display: block;
    height: 20px;
    font-size: 35px;
    padding-top: 55px;
    position: absolute;
    left: 51px;
    bottom: 83px;
}

#booleaner-positioning{
    position: absolute;
    left: 12px;
    bottom: 3px;    
}

h1{
    margin: 35px 8px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: black;
}

.title{
    color: grey;
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 40px;
}

#booleaner{
    color: rgb(42, 168, 210);

}

#date{
    font-size: 20px;
}

#img-container{
    height: 650px;
    margin-bottom: 7px;
    margin-left: 10px;
}

#img1{
    height: 100%;
}

#img2{
    height: 100%;
}

#img-container div{
    font-size: 20px;
    margin-bottom: 5px;
}

.img-description{
    font-size: 22px;
    margin-left: 10px;
}

.paragraph{
    font-size: 28px;
    margin-top: 40px;
    margin-left: 10px;
}

ul{
    font-size: 27px;
    margin-top: 40px;
    padding-left: 29px;
}

table{
    border-collapse: collapse;
    margin-top: 40px;
    margin-left: 10px;
}

.first-row{
    background-color: rgb(12, 113, 168);
    color: white;
    font-size: 23px;
    width: 33%;
}

.second-row{
    background-color: rgb(108, 173, 208);
    font-size: 23px;
    width: 33%;
}

.third-row{
    font-size: 23px;
    width: 33%;
}

.fourth-row{
    background-color: rgb(108, 173, 208);
    font-size: 23px;
    width: 33%;
}

footer h2{
    color: gray;
    margin-left: 6px;
    margin-top: 50px;
    font-size: 29px;
}

footer img{
    display: block;
    margin: 10px;
}

.footer-img-title{
    position: absolute;
    top: 8px;
    left:14px;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px #000000a0 ;
}